body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
}

    .main-content h1 {
        font-size: 2rem;
        margin: 0;
    }

    .main-content .tagline {
        font-size: 1rem;
        color: #777;
        margin-bottom: 20px;
    }

.login-form {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

    .login-form h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .login-form p {
        color: #777;
        margin-bottom: 20px;
    }

    .login-form input,
    .login-form select {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #5a4fcf;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

    .login-button:hover {
        background-color: #473ea9;
    }
